<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>共享单车数据可视化分析系统</title>
	<!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />
    <link th:href="@{/css/layui.css}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='#css?family=Open+Sans' rel='stylesheet' type='text/css' />  
   <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
   <link rel="stylesheet" type="text/css" href="https://a.amap.com/jsapi_demos/static/demo-center/css/prety-json.css">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index2.html"><i class="fa fa-gear"></i> <strong style="font-size: 15px">共享单车数据可视化分析系统</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
          <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" >
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 单车分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="index2.html">单车概况</a>
                            </li>
                            <li>
                                <a href="table2.html">单车分布</a>
                            </li>
                            <li>
                                <a href="form2.html">高峰期分析</a>
                            </li>
                            <li>
                                <a href="analyseB2.html">单车数据分析</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 用户分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="newold2.html">用户概况</a>
                            </li>
                            <li>
                                <a href="personas2.html">用户画像</a>
                            </li>
                            <li>
                                <a href="analyseU2.html">用户数据分析</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 订单分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="order22.html">订单详情</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 反馈与预警<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="response2.html">用户反馈</a>
                            </li>
                            <li>
                                <a href="warn2.html">警示信息</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
    </div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div class="row">
                <div  style="float: right;margin-top:0">
                    <button type="button" class="btn-sm btn"  id="button1"  onclick="change()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#D3D3D3;"><span style="color: black">武汉</span></button>
                    <button type="button" class="btn-sm btn"  id="button2"  onclick="change2()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#24c2ce;"><span style="color: black"><span style="color: black">北京</span></span></button>
                </div>
            </div>
          
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Peak Analysis <small>Summarization</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
              <div class="row">
                <div class="layui-tab layui-tab-card">
                            <ul class="layui-tab-title">
                                <li class="layui-this">高峰时段需求量</li>
                            </ul>

                            <div class="layui-tab-content">
                                <div class="layui-tab-item"></div>

                                <div class="layui-tab-item layui-show">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div  style="background-color:#ffffff;width:95%;height:430px;margin-top:15px;border: #A9A9A9 solid 1px;">
                                            <h1 th:id="text1" style="text-align: center;margin-top: 20px; font-size: 30px">三里屯附近&nbsp;&nbsp;</h1>

                                            <div style="width: 80%;margin-top: 50px;margin-left:10%;margin-right:15%;height: 40px">
                                                <div style="width:43%;height: 40px;float: left;margin-right:14%; ;border: grey solid 1px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom: none;">
                                                    <h3 style="text-align: center;margin-top: 5px;margin-bottom:5px">高峰时间段&nbsp;<i class="fa fa-clock-o" style="color: red"></i></h3>
                                                </div>
                                                <div style="width:43%;height: 40px;float: left;border: grey solid 1px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom: none;">
                                                    <h3 style="text-align: center;margin-top: 5px;margin-bottom:5px">需求车辆数&nbsp;<i class="fa fa-bell-o" style="color: red"></i></h3>
                                                </div>

                                            </div>

                                            <table width="80%" height="220px" cellpadding="0" cellspacing="1" style="margin-left: 10%;margin-right:10%;margin-top:0">
                                                <tr style="border: grey solid 1px">
                                                    <td style="padding-left: 20px"><span th:id="table11" style="font-size: 20px;">10:00am~12:00pm</span><span th:id="table12" style="font-size: 20px;float: right;margin-right:15%">256辆</span></td>
                                                </tr>
                                                <tr style="border: grey solid 1px">
                                                    <td style="padding-left: 20px;background-color: #c8c8c8"><span th:id="table21" style="font-size: 20px;">14:00pm~16:00pm</span><span th:id="table22" style="font-size: 20px;float: right;margin-right:15%">312辆</span></td>
                                                </tr>
                                                <tr style="border: grey solid 1px">
                                                    <td style="padding-left: 20px"><span th:id="table31" style="font-size: 20px;">18:00pm~20:00pm</span><span th:id="table32" style="font-size: 20px;float: right;margin-right:15%">359辆</span></td>
                                                </tr>
                                                <tr style="border: grey solid 1px">
                                                    <td style="padding-left: 20px;background-color: #c8c8c8"><span th:id="table41" style="font-size: 20px;"></span><span th:id="table42" style="font-size: 20px;float: right;margin-right:15%"></span></td>
                                                </tr>
                                            </table>


                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                   <div style="width: 100%;height: 450px;border: solid #000000;" id="t3"></div>
                                    </div>
                                </div>
                                </div>

                                
                            </div>
                    </div>
					
              </div>
                <!-- /.col-lg-12 -->
            

            <div class="page-inner">
            <div class="row">
                    <div class="layui-tab layui-tab-card">
                            <ul class="layui-tab-title">
                                <li th:id="text2" >三里屯附近一天需求量趋势图</li>
                            </ul>

                            <div class="layui-tab-content">
                                <div id="t2"style="width: 100%;height: 450px;" class="layui-tab-item layui-show" ></div>
                            </div>
                    </div>
                </div>
            </div>

			<footer><p>Copyright &copy; 2016.Company name All rights reserved.
            </p>
            </footer>
        </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
      <!-- Bootstrap Js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
      <!-- Custom Js -->
    <script th:src="@{/js/custom-scripts.js}"></script>
     <script type="text/javascript" th:src="@{/js/layui.all.js}"></script>
	 <script th:src="@{/js/echarts.js}"></script>
	 <script th:src="@{/js/bmap.js}"></script>
	 <script th:src="@{/js/china.js}"></script>
	 <script type="text/javascript">
	 	
	 	var option = {
	 	    title: {
	 	        text: '折线图'
	 	    },
	 	    tooltip: {
	 	        trigger: 'axis'
	 	    },
	 	    legend: {
	 	        data: ['昨天']
	 	    },
	 	    grid: {
	 	        left: '3%',
	 	        right: '4%',
	 	        bottom: '3%',
	 	        containLabel: true
	 	    },
	 	    toolbox: {
	 	        feature: {
	 	            saveAsImage: {}
	 	        }
	 	    },
	 	    xAxis: {
	 	        type: 'category',
	 	        boundaryGap: false,
	 	        data: ['00：00', '02：00', '04：00', '06：00', '08：00', '10：00', '12：00','14：00','16：00','18：00','20：00','22:00']
	 	    },
	 	    yAxis: {
	 	        type: 'value'
	 	    },
	 	    series: [
	 	        {
	 	            name: '昨天',
	 	            type: 'line',
	 	            stack: '总量',
	 	            data: [10, 4, 0, 1, 376, 150, 245,259,111,222,144,99]
	 	        },
	 	        
	 	    ]
	 	};
	 
	 	
	 	var myChart = echarts.init(document.getElementById('t2'));
	 				myChart.setOption(option);
	 	
	 
	 	
	 </script>
	 
	 
	 <script src="https://webapi.amap.com/maps?v=1.4.15&key=7aef2bd5ae16f2aad3de37f388d0c49c"></script>
	 <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
	 <script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/jquery-1.11.1.min.js" ></script>
	   <script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/underscore-min.js" ></script>
	   <script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/backbone-min.js" ></script>
	   <script type="text/javascript" src='https://a.amap.com/jsapi_demos/static/demo-center/js/prety-json.js'></script>
	 <script type="text/javascript">
         var map = new AMap.Map('t3', {
             resizeEnable: true, //是否监控地图容器尺寸变化
             zoom:13, //初始化地图层级
             center: [116.401221,39.925092] //初始化地图中心点
         });


         //绑定地图移动事件

         function logMapinfo(){
             map.getCity( function(info){
                 var node = new PrettyJSON.view.Node({
                     el: document.querySelector("#map-city"),
                     data: info
                 });
             });
         }

         logMapinfo();

         //绑定地图移动事件
         map.on('moveend', logMapinfo);
         var circle = new AMap.Circle({
             center: new AMap.LngLat(116.411184,39.912189),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle1 = new AMap.Circle({
             center: new AMap.LngLat(116.403243,39.937135),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle2 = new AMap.Circle({
             center: new AMap.LngLat(116.455484,39.937189),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle3 = new AMap.Circle({
             center: new AMap.LngLat(116.448446,39.931266),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle4 = new AMap.Circle({
             center: new AMap.LngLat(116.365349,39.960378),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle5 = new AMap.Circle({
             center: new AMap.LngLat(116.360284,39.902987),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle6 = new AMap.Circle({
             center: new AMap.LngLat(116.453754,39.925568),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle7 = new AMap.Circle({
             center: new AMap.LngLat(116.337797,39.992739),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle8 = new AMap.Circle({
             center: new AMap.LngLat(116.421224,39.882441),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle9 = new AMap.Circle({
             center: new AMap.LngLat(116.395818,39.937151),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle10 = new AMap.Circle({
             center: new AMap.LngLat(116.401312,39.907464),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         var circle11 = new AMap.Circle({
             center: new AMap.LngLat(116.482767,39.942466),  // 圆心位置
             radius: 1000, // 圆半径
             borderWeight: 3,
             strokeColor: "#FF33FF",
             strokeOpacity: 1,
             strokeWeight: 6,
             strokeOpacity: 0.2,
             fillOpacity: 0.4,
             strokeStyle: 'dashed',
             strokeDasharray: [10, 10],
             // 线样式还支持 'dashed'
             fillColor: 'red',
             zIndex: 50,

         });

         map.add(circle);
         map.add(circle1);
         map.add(circle2);
         map.add(circle3);
         map.add(circle4);
         map.add(circle5);
         map.add(circle6);
         map.add(circle7);
         map.add(circle8);
         map.add(circle9);
         map.add(circle10);
         map.add(circle11);

         circle.content=['116.411184,39.912189','王府井步行街附近'];
         circle1.content=['116.403243,39.937135','南锣鼓巷附近'];
         circle2.content=['116.455484,39.937189','三里屯附近'];
         circle3.content=['116.448446,39.931266','工人体育馆附近'];
         circle4.content=['116.365349,39.960378','北京师范大学附近'];
         circle5.content=['116.360284,39.902987','中央音乐学院附近'];
         circle6.content=['116.453754,39.925568','北京朝阳医院附近'];
         circle7.content=['116.337797,39.992739','五道口附近'];
         circle8.content=['116.421224,39.882441','天坛东门附近'];
         circle9.content=['116.395818,39.937151','什刹海附近'];
         circle10.content=['116.401312,39.907464','天安门东附近'];
         circle11.content=['116.482767,39.942466','朝阳公园附近'];

             function showInfoC(event){
                 var e = event || window.event;
                 // $.ajax({
                 //     url: "http://localhost:8080/table/click",
                 //     data: { info:e.target.content[0]},
                 //     //type、contentType必填,指明传参方式
                 //     type: "post",
                 //     dataType:"json",
                 //     success: function(response){
                 //         //前端调用成功后，可以处理后端传回的json格式数据。
                 //         var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'正常未使用单车数量:'+ response["normal"] + '\n'+'故障单车数量:'+response["broken"]+'\n'
                 //         document.querySelector("#text").innerText = text;
                 //         // title_ = e.target.content[1];
                 //
                 //     }
                 // });
                 var text1 = e.target.content[1];
                 document.querySelector("#text1").innerText = text1;
                 document.querySelector("#text2").innerText = text1+'一天需求量趋势图';
                 myChart = echarts.init(document.getElementById('t2'));
                 if (e.target.content[1] == '王府井步行街附近'){
                     option.series[0].data = [62, 10, 6, 4, 112, 263, 142,155,356,341,365,63];
                     document.querySelector("#table11").innerText = '8:00am~10:00am';
                     document.querySelector("#table12").innerText = '263辆';
                     document.querySelector("#table21").innerText = '14:00pm~16:00pm';
                     document.querySelector("#table22").innerText = '356辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '341辆';
                     document.querySelector("#table41").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table42").innerText = '365';
                 }
                 else if (e.target.content[1] == '南锣鼓巷附近'){
                     option.series[0].data = [10, 4, 0, 1, 67, 150, 211,227,111,199,144,99];
                     document.querySelector("#table11").innerText = '10:00am~12:00pm';
                     document.querySelector("#table12").innerText = '211辆';
                     document.querySelector("#table21").innerText = '12:00pm~14:00pm';
                     document.querySelector("#table22").innerText = '227辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '199辆';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '三里屯附近'){
                     option.series[0].data = [96, 21, 2, 5, 122, 123, 256,102,312,151,359,310];
                     document.querySelector("#table11").innerText = '10:00am~12:00pm';
                     document.querySelector("#table12").innerText = '256辆';
                     document.querySelector("#table21").innerText = '14:00pm~16:00pm';
                     document.querySelector("#table22").innerText = '312辆';
                     document.querySelector("#table31").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table32").innerText = '359辆';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '工人体育馆附近'){
                     option.series[0].data = [88, 99, 189, 197, 43, 23, 45,66,53,67,156,167];
                     document.querySelector("#table11").innerText = '2:00am~4:00am';
                     document.querySelector("#table12").innerText = '189辆';
                     document.querySelector("#table21").innerText = '4:00am~6:00am';
                     document.querySelector("#table22").innerText = '197辆';
                     document.querySelector("#table31").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table32").innerText = '156辆';
                     document.querySelector("#table41").innerText = '20:00pm~22:00pm';
                     document.querySelector("#table42").innerText = '167辆';
                 }
                 else if (e.target.content[1] == '北京师范大学附近'){
                     option.series[0].data = [13, 6, 0, 0, 219, 111, 99,199,111,222,152,64];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '219辆';
                     document.querySelector("#table21").innerText = '12:00pm~14:00pm';
                     document.querySelector("#table22").innerText = '199辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '222辆';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '中央音乐学院附近'){
                     option.series[0].data = [25, 6, 0, 0, 322, 123, 211,234,101,341,109,88];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '322辆';
                     document.querySelector("#table21").innerText = '10:00am~12:00pm';
                     document.querySelector("#table22").innerText = '211辆';
                     document.querySelector("#table31").innerText = '12:00pm~14:00pm';
                     document.querySelector("#table32").innerText = '234辆';
                     document.querySelector("#table41").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table42").innerText = '341辆';
                 }
                 else if (e.target.content[1] == '北京朝阳医院附近'){
                     option.series[0].data = [56, 28, 14, 6, 86, 198, 121,111,97,101,216,77];
                     document.querySelector("#table11").innerText = '8:00am~10:00am';
                     document.querySelector("#table12").innerText = '322辆';
                     document.querySelector("#table21").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table22").innerText = '216辆';
                     document.querySelector("#table31").innerText = '';
                     document.querySelector("#table32").innerText = '';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '五道口附近'){
                     option.series[0].data = [24, 8, 0, 0, 256, 141, 133,194,89,211,121,93];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '256辆';
                     document.querySelector("#table21").innerText = '12:00pm~14:00pm';
                     document.querySelector("#table22").innerText = '194辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '211辆';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '天坛东门附近'){
                     option.series[0].data = [33, 32, 14, 6, 67, 39, 49,52,31,43,237,87];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '67辆';
                     document.querySelector("#table21").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table22").innerText = '237辆';
                     document.querySelector("#table31").innerText = '';
                     document.querySelector("#table32").innerText = '';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '什刹海附近'){
                     option.series[0].data = [0, 0, 0, 0, 298, 64, 99,244,78,321,104,56];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '298辆';
                     document.querySelector("#table21").innerText = '12:00pm~14:00pm';
                     document.querySelector("#table22").innerText = '244辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '321辆';
                     document.querySelector("#table41").innerText = '';
                     document.querySelector("#table42").innerText = '';
                 }
                 else if (e.target.content[1] == '天安门东附近'){
                     option.series[0].data = [44, 12, 8, 3, 149, 78, 158,97,67,205,191,76];
                     document.querySelector("#table11").innerText = '6:00am~8:00am';
                     document.querySelector("#table12").innerText = '149辆';
                     document.querySelector("#table21").innerText = '10:00am~12:00pm';
                     document.querySelector("#table22").innerText = '158辆';
                     document.querySelector("#table31").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table32").innerText = '205辆';
                     document.querySelector("#table41").innerText = '18:00pm~20:00pm';
                     document.querySelector("#table42").innerText = '191辆';
                 }
                 else if (e.target.content[1] == '朝阳公园附近'){
                     option.series[0].data = [151, 43, 12, 4, 55, 41, 147,97,67,211,106,198];
                     document.querySelector("#table11").innerText = '10:00am~12:00pm';
                     document.querySelector("#table12").innerText = '147辆';
                     document.querySelector("#table21").innerText = '16:00pm~18:00pm';
                     document.querySelector("#table22").innerText = '211辆';
                     document.querySelector("#table31").innerText = '20:00pm~22:00pm';
                     document.querySelector("#table32").innerText = '198辆';
                     document.querySelector("#table41").innerText = '22:00pm~00:00am';
                     document.querySelector("#table42").innerText = '151辆';
                 }

                 myChart.setOption(option);
             }

             circle.on('click', showInfoC);
             circle1.on('click', showInfoC);
             circle2.on('click', showInfoC);
             circle3.on('click', showInfoC);
             circle4.on('click', showInfoC);
             circle5.on('click', showInfoC);
             circle6.on('click', showInfoC);
             circle7.on('click', showInfoC);
             circle8.on('click', showInfoC);
             circle9.on('click', showInfoC);
             circle10.on('click', showInfoC);
             circle11.on('click', showInfoC);


             map.onmousewheel=function (e) {
                 e= e || window.event;
                 if(document.all){
                     e.cancelBubble=true;
                 }else{ e.stopPropagation(); }
             };

     </script>

    <script type="text/javascript">
        window.onload=function(){
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>

    <script type="text/javascript">
        function change() {

            document.getElementById("button1").style.background="#24c2ce";
            document.getElementById("button2").style.background="#D3D3D3";
            window.location.href="form.html";
        }

        function change2() {
            document.getElementById("button1").style.background="#D3D3D3";
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>


   
</body>
</html>
