<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>共享单车数据可视化分析系统</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


    <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />

    <link th:href="@{/css/layui.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style type="text/css">
        #page-inner{
            min-height: 595px
        }
        #page-wrapper{
            min-height: 595px
        }
        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0; }
            to {
                opacity: 1; } }

        @keyframes fadeIn {
            from {
                opacity: 0; }
            to {
                opacity: 1; } }

        .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn; }

    </style>
</head>

<body>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong style="font-size: 15px">共享单车数据可视化分析系统</strong></a>
        </div>


    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" >
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 单车分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="index2.html">单车概况</a>
                        </li>
                        <li>
                            <a href="bike_detail2.html">单车详情</a>
                        </li>
                        <li>
                            <a href="bike_dist2.html">单车分布与高峰期分析</a>
                        </li>
                        <li>
                            <a href="analyseB2.html">单车数据分析</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 用户分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="newold2.html">用户概况</a>
                        </li>
                        <li>
                            <a href="personas2.html">用户画像</a>
                        </li>
                        <li>
                            <a href="analyseU2.html">用户数据分析</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 订单分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="order22.html">订单详情</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 反馈与预警<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="response2.html">用户反馈</a>
                        </li>
                        <li>
                            <a href="warn2.html">警示信息</a>
                        </li>

                    </ul>
                </li>
            </ul>

        </div>

    </nav>
</div>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div  style="float: right;margin-top:0">
                <button type="button" class="btn-sm btn"  id="button1"  onclick="change()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#D3D3D3;"><span style="color: black">武汉</span></button>
                <button type="button" class="btn-sm btn"  id="button2"  onclick="change2()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#24c2ce;"><span style="color: black"><span style="color: black">北京</span></span></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-15">
                <h1 class="page-header">
                    Bike Information <small>Summary of  bikes</small>
                </h1>
                <ol class="breadcrumb" style="height: 30px;line-height: 6px">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Admin
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>

                    <!-- Breadcrumb Menu-->

                </ol>
            </div>
        </div>


        <!-- /. ROW  -->

        <div class="animated fadeIn">

            <div class="row" style="margin-bottom: 30px">
                <div class="col-md-3">
                    <div class="pricing-table-grid" >
                        <div class="plans_head" style="height: 150px;background: #9DC3E6;">
                            <h4 class="m_4" style="margin-left:-120px" th:text="${total2}"><small class="m_2"></small>8231<small  class="m_3"></small></h4>
                            <h3 style="margin-top:25px;margin-left: 20px">单车总数 </h3>
                            <div style="margin-top:-40px;margin-right: -40px">
                                <i class="fa fa-search" style="font-size: 80px;color: #f0e6e9"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/.col-->

                <div class="col-md-3">
                    <div class="pricing-table-grid">
                        <div class="plans_head" style="height: 150px;background:#8ee4d0;">
                            <h4 class="m_4" style="margin-left:-120px" th:text="${normal2}"><small class="m_2"></small>2343<small  class="m_3"></small></h4>
                            <h3 style="margin-top:25px;margin-left: 20px">正常单车数 </h3>
                            <div style="margin-top:-40px;margin-right: -40px">
                                <i class="fa fa-check-square-o" style="font-size: 80px;color: #f0e6e9"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/.col-->

                <div class="col-md-3">
                    <div class="pricing-table-grid">
                        <div class="plans_head" style="height: 150px;background: #f8c89f">
                            <h4 class="m_4" style="margin-left:-120px" th:text="${broken2}"><small class="m_2"></small>3042<small  class="m_3"></small></h4>
                            <h3 style="margin-top:25px;margin-left: 20px">故障单车数 </h3>
                            <div style="margin-top:-40px;margin-right: -40px">
                                <i class="fa fa-cogs" style="font-size: 80px;color: #f0e6e9"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/.col-->

                <div class="col-md-3">
                    <div class="pricing-table-grid">
                        <div class="plans_head" style="height: 150px;background:#49CFAE">
                            <h4 class="m_4" style="margin-left:-120px" th:text="${miss2}"><small class="m_2"></small>1209<small  class="m_3"></small></h4>
                            <h3 style="margin-top:25px;margin-left: 20px">丢失单车数 </h3>
                            <div style="margin-top:-40px;margin-right: -40px">
                                <i class="fa fa-cloud" style="font-size: 80px;color: #f0e6e9"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/.col-->
            </div>

            <!-- /. ROW  -->
            </hr>
            <div class="row">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="card-title mb-0">Traffic</h4>
                                <div class="small text-muted">June 2020</div>
                            </div>
                            <!--/.col-->
                            <div class="col-sm-7 hidden-sm-down">

                                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group">
                                        <label class="btn btn-outline-secondary" for="option1" id="l1" onclick="myFunction1()" >
                                            <input name="gender" type="radio" value="男" id="option1" />单车状况趋势
                                        </label>
                                        <label class="btn btn-outline-secondary " for="option2" id="l2" onclick="myFunction2()">
                                            <input name="gender"type="radio"  id="option2" value="女"  />单车使用趋势
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <!--/.col-->

                        </div>
                        <!--/.row-->
                        <div id="p1" style="height: 450px;width:100%">
                        </div>

                    </div>

                    <div class="card-footer">
                        <ul>
                            <li>
                                <div class="text-muted">Normal Bike</div>
                                <strong th:id="1">3423 (40%)</strong>
                                <div class="progress progress-xs mt-h">
                                    <div th:id="11" class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="hidden-sm-down">
                                <div class="text-muted">Broken Bike</div>
                                <strong th:id="2">3332 (20%)</strong>
                                <div class="progress progress-xs mt-h">
                                    <div th:id="22" class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div class="text-muted">Lost Bike</div>
                                <strong th:id="3">1235 (60%)</strong>
                                <div class="progress progress-xs mt-h">
                                    <div th:id="33" class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>








        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layui.all.js}"></script>
<!-- Metis Menu Js -->
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script th:src="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/js/morris/morris.js}"></script>


<script th:src="@{/js/easypiechart.js}"></script>
<script th:src="@{/js/easypiechart-data.js}"></script>

<script th:src="@{/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/custom-scripts.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script type="text/javascript">

    function myFunction1(){
        var brokenList=[[${hisB2}]];
        var missList=[[${hisM2}]];
        var normalList=[[${hisN2}]];
        var option = {

            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['正常单车', '故障单车', '丢失单车']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },

            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07']
            },
            yAxis: {
                type: 'value',
                splitLine:{
                    show:false
                }
            },
            series: [
                {
                    name: '正常单车',
                    type: 'line',
                    smooth:true,
                    itemStyle : {

                        normal : {
                            color:'#f86c6b',

                            lineStyle:{
                                color:'#f86c6b'

                            }
                        }
                    },

                    data: normalList
                },
                {
                    name: '故障单车',
                    type: 'line',
                    smooth:true,
                    itemStyle : {

                        normal : {
                            color:'#63c2de',

                            lineStyle:{
                                color:'#63c2de'

                            }
                        }
                    },
                    data: brokenList
                },
                {
                    name: '丢失单车',
                    type: 'line',
                    smooth:true,
                    itemStyle : {

                        normal : {
                            color:'#f8cb00',

                            lineStyle:{
                                color:'#f8cb00'

                            }
                        }
                    },



                    data: missList
                }
            ]
        };


        var myChart = echarts.init(document.getElementById('p1'));
        myChart.setOption(option);

    }



</script>

<script type="text/javascript">
    function myFunction2(){
        var numUse = [[${numU2}]];
        var numNoUse = [[${numNU2}]];

        var option2 = {

            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['正在使用单车', '未使用单车']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },

            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['00:00', '02:00', '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00','18:00', '20:00', '22:00']
            },
            yAxis: {
                type: 'value',
                splitLine:{
                    show:false
                }
            },
            series: [
                {
                    name: '正在使用单车',
                    type: 'line',
                    smooth:true,
                    itemStyle : {

                        normal : {
                            color:'#FF6600',

                            lineStyle:{
                                color:'#FF6600'
                            }
                        }
                    },

                    data: numUse
                },
                {
                    name: '未使用单车',
                    type: 'line',
                    smooth:true,
                    itemStyle : {

                        normal : {
                            color:'#FFFF33',

                            lineStyle:{
                                color:'#FFFF33'
                            }
                        }
                    },
                    data: numNoUse
                },


            ]
        };
        var width = $("#tu1").width();
        var height = $("#tu3").height();
        $("#tu3").css("width", width).css("height", height);
        var div_ = document.getElementById("p1");
        div_.removeAttribute("_echarts_instance_");

        var myChart1 = echarts.init(div_);
        myChart1.setOption(option2);
    }



</script>



        <script type="text/javascript">
            window.onload=function(){
                document.getElementById("button2").style.background="#24c2ce";
                document.getElementById('l1').click()

                $("#11").css("width","[[${perN2}]]")
                $("#22").css("width","[[${perB2}]]")
                $("#33").css("width","[[${perM2}]]")
                $("#1").html("[[${t12}]]")
                $("#2").html("[[${t22}]]")
                $("#3").html("[[${t32}]]")
            }
        </script>

        <script type="text/javascript">
            function change() {

                document.getElementById("button1").style.background="#24c2ce";
                document.getElementById("button2").style.background="#D3D3D3";
                window.location.href="index.html";
            }

            function change2() {
                document.getElementById("button1").style.background="#D3D3D3";
                document.getElementById("button2").style.background="#24c2ce";
            }
        </script>

    </body>

</html>