<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>共享单车数据可视化分析系统</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />
    <link th:href="@{/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Google Fonts-->
    <link href='#css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<style type="text/css">
    #page-wrapper{
        min-height: 595px
    }
    #page-inner{
        min-height: 595px
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0; }
        to {
            opacity: 1; } }

    @keyframes fadeIn {
        from {
            opacity: 0; }
        to {
            opacity: 1; } }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn; }

</style>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong style="font-size: 15px">共享单车数据可视化分析系统</strong></a>
        </div>


    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" >
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 单车分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="index2.html">单车概况</a>
                        </li>
                        <li>
                            <a href="bike_detail2.html">单车详情</a>
                        </li>
                        <li>
                            <a href="bike_dist2.html">单车分布与高峰期分析</a>
                        </li>
                        <li>
                            <a href="analyseB2.html">单车数据分析</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 用户分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="newold2.html">用户概况</a>
                        </li>
                        <li>
                            <a href="personas2.html">用户画像</a>
                        </li>
                        <li>
                            <a href="analyseU2.html">用户数据分析</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 订单分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="order22.html">订单详情</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 反馈与预警<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="response2.html">用户反馈</a>
                        </li>
                        <li>
                            <a href="warn2.html">警示信息</a>
                        </li>

                    </ul>
                </li>
            </ul>

        </div>

    </nav>
</div>
<!-- /. NAV SIDE  -->
<!-- /. NAV SIDE  -->
<div id="page-wrapper" >
    <div class="row">
        <div  style="float: right;margin-top:0">
            <button type="button" class="btn-sm btn"  id="button1"  onclick="change()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#D3D3D3;"><span style="color: black">武汉</span></button>
            <button type="button" class="btn-sm btn"  id="button2"  onclick="change2()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#24c2ce;"><span style="color: black"><span style="color: black">北京</span></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                User Information <small>Summary of users</small>
            </h1>
        </div>
    </div>
    <div id="page-inner" style="background:#ffffff">
        <div class="animated fadeIn">

            <div class="row" style="height: 400px">
                <div class="col-md-3" style="height: 100%">
                    <div style="text-align: center">
                        <span style="font-size: 17px;color:#808080">性别比例</span>
                    </div>
                    <div style="height: 200px">
                        <img th:src="@{/images/kenan1.jpg}" style="height: 170px">
                        <h2 style="margin-left:60%;margin-top:-35%" th:text="${perM2}"></h2>
                    </div>
                    <div>
                        <img th:src="@{/images/kenan2.jpg}" style="height: 170px">
                        <h2 style="margin-left:60%;margin-top:-35%" th:text="${perF2}"></h2>
                    </div>
                </div>
                <div class="col-md-6" style="height: 430px">
                    <div id="p13" style="width:400px;height: 210px;margin-left:18%">
                    </div>

                    <div  style="height: 240px;width: 280px;float: left">
                        <div id="p11" style="height: 100%;width:107%">
                        </div>
                    </div>


                    <div style="height: 240px;width:280px;float: left;margin-left: 10px">
                        <div id="p12" style="height: 100%;width:107%">
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="height: 100%">
                    <div style="text-align: center">
                        <span style="font-size: 17px;color:#808080">年龄分布</span>
                    </div>
                    <div id="p2" style="height: 50%;width:103%">
                    </div>
                    <div style="text-align: center;margin-top: 0">
                        <span style="font-size: 17px;color:#808080">每月骑行频率分布</span>
                    </div>
                    <div id="p21" style="height: 50%;width:100%;margin-left:10px">
                    </div>
                </div>
            </div>

            <div class="row" style="height: 270px;width:110%;margin-left: -7%" id="p4">

            </div>




        </div>

        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>








<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Metis Menu Js -->
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<!-- Custom Js -->
<script th:src="@{/js/custom-scripts.js}"></script>
<script th:src="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/js/morris/morris.js}"></script>
<script type="text/javascript" th:src="@{/js/layui.all.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script type="text/javascript">
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        title:{
            text:'用户数量',
            top:22,
            left:'center',
            textStyle:{
                color:'#808080',
                fontSize:17,
                fontWeight:'normal'
            }
        },

        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04']
        },
        yAxis: {
            type: 'value',
            splitLine:{
                show:false
            }
        },
        series: [{
            name:'用户数量',
            data: [6588, 6800, 7100, 7490, 7890,8000,8200],
            type: 'line',
            areaStyle: {},
            smooth:true,
            itemStyle:{
                normal:{
                    color:'#1f1f1f'

                }
            }
        }]
    };
    var myChart = echarts.init(document.getElementById('p4'));
    myChart.setOption(option);

</script>

<script type="text/javascript">
    var numAge = [[${numA2}]];
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },

        series: [
            {

                name:'年龄',
                type: 'pie',
                radius: [10, 65],
                center: ['50%', '50%'],
                roseType: 'area',
                data: [
                    {value: numAge[0], name: '0-17'},
                    {value: numAge[1], name: '18-24'},
                    {value: numAge[2], name: '25-29'},
                    {value: numAge[3], name: '30-34'},
                    {value: numAge[4], name: '35-39'},
                    {value: numAge[5], name: '40+'}
                ],
                color:['#3399CC','#33CCFF','#99FFCC','#FFCC66','#FF9966','#FF6699']
            }
        ]
    };
    var myChart = echarts.init(document.getElementById('p2'));
    myChart.setOption(option);

</script>



<script type="text/javascript">
    var numDist = [[${numD2}]];
    var option = {
        title:{
            text:'平均骑行里程分布',
            left:'center',
            textStyle:{
                color:'#808080',
                fontSize:17,
                fontWeight:'normal'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '16%',
            containLabel: true
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: ['0-1km', '1-2km', '2-3km', '3-4km', '4-5km', '5+km'],

        },
        yAxis: {
            type: 'value',
            splitLine:{
                show:false
            }

        },
        series: [{
            name:'所占人数',
            data: numDist,
            type: 'bar',
            itemStyle:{
                color:'#FF6600'
            }
        }]
    };
    var myChart = echarts.init(document.getElementById('p11'));
    myChart.setOption(option);

</script>
<script type="text/javascript">
    var numTime = [[${numT2}]];
    var option = {
        title:{
            text:'平均骑行时间分布',
            left:'center',
            textStyle:{
                color:'#808080',
                fontSize:17,
                fontWeight:'normal'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '16%',
            containLabel: true
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: ['0-5min', '5-10min', '10-15min', '15-20min', '20-25min', '25+km'],

        },
        yAxis: {
            type: 'value',
            splitLine:{
                show:false
            }

        },
        series: [{
            name:'所占人数',
            data: numTime,
            type: 'bar',
            itemStyle:{
                color:'#FF6600'
            }
        }]
    };
    var myChart = echarts.init(document.getElementById('p12'));
    myChart.setOption(option);

</script>


<script type="text/javascript">
    var numCost = [[${numC2}]]
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },

        title:{
            text:'每月消费分布',
            left:'center',
            textStyle:{
                color:'#808080',
                fontSize:17,
                fontWeight:'normal'
            }
        },

        xAxis: {
            type: 'category',
            data: ['¥0-5', '¥6-10', '¥11-15', '¥16-20', '¥21-30', '¥30-40', '¥40+']
        },
        yAxis: {
            type: 'value',
            splitLine:{
                show:false
            }
        },
        series: [{
            name:'所占人数',
            data: numCost,
            type: 'line',
            smooth: true,
            itemStyle:{
                color:'#ff6600'
            }
        }]
    };

    var myChart = echarts.init(document.getElementById('p13'));
    myChart.setOption(option);

</script>

<script type="text/javascript">
    var numRide = [[${numR2}]];
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },

        series: [
            {

                name:'骑行次数',
                type: 'pie',
                radius: [10, 65],
                center: ['50%', '50%'],
                roseType: 'area',
                data: [
                    {value: numRide[0], name: '0-2'},
                    {value: numRide[1], name: '3-5'},
                    {value: numRide[2], name: '6-10'},
                    {value: numRide[3], name: '11-15'},
                    {value: numRide[4], name: '16-20'},
                    {value: numRide[5], name: '21-25'},
                    {value: numRide[6], name: '26+'},
                ],
                color:['#3399CC','#33CCFF','#99FFCC','#FFCC66','#FF9966','#FF6699','#FFCCFF']
            }
        ]
    };


    var myChart = echarts.init(document.getElementById('p21'));
    myChart.setOption(option);

</script>

    <script type="text/javascript">
        window.onload=function(){
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>

    <script type="text/javascript">
        function change() {

            document.getElementById("button1").style.background="#24c2ce";
            document.getElementById("button2").style.background="#D3D3D3";
            window.location.href="newold.html";
        }

        function change2() {
            document.getElementById("button1").style.background="#D3D3D3";
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>

    </body>
    </html>
