<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>共享单车数据可视化分析系统</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{/css/layui.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='#css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" type="text/css" href="https://a.amap.com/jsapi_demos/static/demo-center/css/prety-json.css">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index2.html"><i class="fa fa-gear"></i> <strong style="font-size: 15px">共享单车数据可视化分析系统</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" >
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 单车分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="index2.html">单车概况</a>
                            </li>
                            <li>
                                <a href="table2.html">单车分布</a>
                            </li>
                            <li>
                                <a href="form2.html">高峰期分析</a>
                            </li>
                            <li>
                                <a href="analyseB2.html">单车数据分析</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 用户分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="newold2.html">用户概况</a>
                            </li>
                            <li>
                                <a href="personas2.html">用户画像</a>
                            </li>
                            <li>
                                <a href="analyseU2.html">用户数据分析</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 订单分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="order22.html">订单详情</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 反馈与预警<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="response2.html">用户反馈</a>
                            </li>
                            <li>
                                <a href="warn2.html">警示信息</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>

        </nav>
        <!-- /. NAV SIDE  -->



        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div  style="float: right;margin-top:0">
                        <button type="button" class="btn-sm btn"  id="button1"  onclick="change()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#D3D3D3;"><span style="color: black">武汉</span></button>
                        <button type="button" class="btn-sm btn"  id="button2"  onclick="change2()" style="border-radius: 50px;outline: none;width:60px;height: 32px;border: none;background-color:#24c2ce;"><span style="color: black"><span style="color: black">北京</span></span></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-15">
                        <h1 class="page-header">
                            Bike Distribution <small>Accuracy</small>
                        </h1>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">

                        <div class="layui-tab layui-tab-card">

                            <ul class="layui-tab-title">
                                <li class="layui-this" >单车分布</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show" id="t1" style="width: 100%;height: 600px;">
                                </div>

                            </div>
                        </div>
                        <div class="info" id="text" style="margin-top: 250px;left: 312px;width: 100px;">
                            请点击红圈查看单车详情
                        </div>

                    </div>

                    <div class="col-md-5" style="margin-top: 20px;">
                        <div style="width: 100%;height: 650px;border: 1px solid #000000;" id="t5"></div>
                    </div>
                </div>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-12">
                        <div class="layui-tab layui-tab-card">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                单车列表
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>单车ID</th>
                                            <th>单车状态</th>
                                            <th>是否正被使用</th>
                                            <th>地点</th>
                                            <th>坐标</th>
                                            <th>单车使用次数</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="bike:${bikeList2}">
                                            <td th:text="${bike.getBikeID()}"></td>
                                            <td th:text="${bike.getStatus()}"></td>
                                            <td th:text="${bike.getIsUsing()==0?'未被使用':'使用中'}"></td>
                                            <td th:text="${bike.getLocation()}"></td>
                                            <td th:text="${bike.getCoordinate()}"></td>
                                            <td th:text="${bike.getNum_use()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                        <!--End Advanced Tables -->
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->

            </div>
        </div>
    </div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Metis Menu Js -->
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<!-- Custom Js -->
<script th:src="@{/js/custom-scripts.js}"></script>
<!-- Morris Chart Js -->
<script th:src="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/js/morris/morris.js}"></script>


<script th:src="@{/js/easypiechart.js}"></script>
<script th:src="@{/js/easypiechart-data.js}"></script>
<script type="text/javascript" th:src="@{/js/layui.all.js}"></script>
<script th:src="@{/js/Lightweight-Chart/jquery.chart.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script th:src="@{/js/bmap.js}"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=7aef2bd5ae16f2aad3de37f388d0c49c"></script>

<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/underscore-min.js" ></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/backbone-min.js" ></script>
<script type="text/javascript" src='https://a.amap.com/jsapi_demos/static/demo-center/js/prety-json.js'></script>


<script>
    var option = {
        backgroundColor:'#ffffff',
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 10,
            data: ['男', '女', '0-17', '18-24', '25-29', '30-34', '35-39', '40+']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                selectedMode: 'single',
                radius: [0, '30%'],

                label: {
                    position: 'inner'
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 335, name: '男'},
                    {value: 679, name: '女'},

                ]
            },
            {
                name: '访问来源',
                type: 'pie',
                radius: ['40%', '55%'],
                label: {
                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                    backgroundColor: '#eee',
                    borderColor: '#aaa',
                    borderWidth: 1,
                    borderRadius: 4,
                    // shadowBlur:3,
                    // shadowOffsetX: 2,
                    // shadowOffsetY: 2,
                    // shadowColor: '#999',
                    // padding: [0, 7],
                    rich: {
                        a: {
                            color: '#999',
                            lineHeight: 22,
                            align: 'center'
                        },
                        hr: {
                            borderColor: '#aaa',
                            width: '100%',
                            borderWidth: 0.5,
                            height: 0
                        },
                        b: {
                            fontSize: 16,
                            lineHeight: 33
                        },
                        per: {
                            color: '#eee',
                            backgroundColor: '#334455',
                            padding: [2, 4],
                            borderRadius: 2
                        }
                    }
                },
                data: [
                    {value: 335, name: '0-17'},
                    {value: 679, name: '18-24'},
                    {value: 1548, name: '25-29'},
                    {value: 679, name: '30-34'},
                    {value: 1548, name: '35-39'},
                    {value: 679, name: '40+'}

                ]
            }
        ]
    };


</script>

<!--<script>-->

<!--    // alert(title_);-->
<!--    var myChart = echarts.init(document.getElementById('t5'));-->
<!--    var option;-->
<!--    setTimeout(function(){-->
<!--        option = {-->
<!--            backgroundColor:'#ffffff',-->
<!--            title:{-->
<!--                left:'center',-->
<!--                text:'111'-->
<!--            },-->
<!--            legend: {-->
<!--                data:['正常未使用单车','故障单车']-->
<!--            },-->
<!--            tooltip: {-->
<!--                trigger: 'axis',-->
<!--                showContent: false-->
<!--            },-->
<!--            dataset: {-->
<!--                source: [-->
<!--                    ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',-->
<!--                        '18:00', '20:00', '22:00'],-->
<!--                    ['正常未使用单车', 41.1, 30.4, 65.1, 53.3, 83.8, 48.7,41.1, 30.4, 65.1,41.1, 30.4, 65.1],-->
<!--                    ['故障单车', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1,71.1, 60.4, 40,40, 32, 42],-->

<!--                ]-->
<!--            },-->
<!--            xAxis: {type: 'category'},-->
<!--            yAxis: {gridIndex: 0},-->
<!--            grid: {top: '55%'},-->
<!--            series: [-->
<!--                {type: 'line', smooth: true, seriesLayoutBy: 'row'},-->
<!--                {type: 'line', smooth: true, seriesLayoutBy: 'row',color:'#000000'},-->

<!--                {-->
<!--                    type: 'pie',-->
<!--                    id: 'pie',-->
<!--                    radius: '30%',-->
<!--                    center: ['50%', '25%'],-->
<!--                    label: {-->
<!--                        formatter: '{b}: {@00:00} ({d}%)'-->
<!--                    },-->
<!--                    encode: {-->
<!--                        itemName: 'product',-->
<!--                        value: '00:00',-->
<!--                        tooltip: '00:00'-->
<!--                    }-->
<!--                }-->
<!--            ]-->
<!--        };-->

<!--        myChart.on('updateAxisPointer', function (event) {-->
<!--            var xAxisInfo = event.axesInfo[0];-->
<!--            if (xAxisInfo) {-->
<!--                var dimension = xAxisInfo.value + 1;-->
<!--                myChart.setOption({-->
<!--                    series: {-->
<!--                        id: 'pie',-->
<!--                        label: {-->
<!--                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'-->
<!--                        },-->
<!--                        encode: {-->
<!--                            value: dimension,-->
<!--                            tooltip: dimension-->
<!--                        }-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--        myChart.setOption(option);-->
<!--    });-->
<!--    myChart.setOption(option);-->

<!--    function refreshData(data){-->
<!--        //更新数据-->
<!--        var option_ = myChart.getOption();-->
<!--        option_.title[0].text = data;-->
<!--        myChart.setOption(option_);-->
<!--    }-->
<!--</script>-->

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('t5'));
    var option;
    setTimeout(function(){
        option = {
            backgroundColor:'#ffffff',
            title:{
                left:'center',
                text:'三里屯附近'
            },
            legend: {
                data:['正常未使用单车','故障单车']
            },
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                        '18:00', '20:00', '22:00'],
                    ['正常未使用单车', 245, 197, 197, 190, 310, 322,187, 130, 43,0,55, 129],
                    ['故障单车', 42, 40, 40, 24, 25, 55,64, 60, 51,55, 55, 69],

                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row',color:'#000000'},

                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    label: {
                        formatter: '{b}: {@00:00} ({d}%)'
                    },
                    encode: {
                        itemName: 'product',
                        value: '00:00',
                        tooltip: '00:00'
                    }
                }
            ]
        };

        myChart.on('updateAxisPointer', function (event) {
            var xAxisInfo = event.axesInfo[0];
            if (xAxisInfo) {
                var dimension = xAxisInfo.value + 1;
                myChart.setOption({
                    series: {
                        id: 'pie',
                        label: {
                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                        },
                        encode: {
                            value: dimension,
                            tooltip: dimension
                        }
                    }
                });
            }
        });
        myChart.setOption(option);
    });
    myChart.setOption(option);


    var map = new AMap.Map('t1', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom:13, //初始化地图层级
        center: [116.401221,39.925092] //初始化地图中心点
    });
    function logMapinfo(){
        map.getCity( function(info){
            var node = new PrettyJSON.view.Node({
                el: document.querySelector("#map-city"),
                data: info
            });
        });
    }
    logMapinfo();

    //绑定地图移动事件
    map.on('moveend', logMapinfo);
    var circle = new AMap.Circle({
        center: new AMap.LngLat(116.411184,39.912189),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle1 = new AMap.Circle({
        center: new AMap.LngLat(116.403243,39.937135),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle2 = new AMap.Circle({
        center: new AMap.LngLat(116.455484,39.937189),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle3 = new AMap.Circle({
        center: new AMap.LngLat(116.448446,39.931266),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle4 = new AMap.Circle({
        center: new AMap.LngLat(116.365349,39.960378),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle5 = new AMap.Circle({
        center: new AMap.LngLat(116.360284,39.902987),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle6 = new AMap.Circle({
        center: new AMap.LngLat(116.453754,39.925568),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle7 = new AMap.Circle({
        center: new AMap.LngLat(116.337797,39.992739),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle8 = new AMap.Circle({
        center: new AMap.LngLat(116.421224,39.882441),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle9 = new AMap.Circle({
        center: new AMap.LngLat(116.395818,39.937151),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle10 = new AMap.Circle({
        center: new AMap.LngLat(116.401312,39.907464),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    var circle11 = new AMap.Circle({
        center: new AMap.LngLat(116.482767,39.942466),  // 圆心位置
        radius: 1000, // 圆半径
        borderWeight: 3,
        strokeColor: "#FF33FF",
        strokeOpacity: 1,
        strokeWeight: 6,
        strokeOpacity: 0.2,
        fillOpacity: 0.4,
        strokeStyle: 'dashed',
        strokeDasharray: [10, 10],
        // 线样式还支持 'dashed'
        fillColor: 'red',
        zIndex: 50,

    });

    map.add(circle);
    map.add(circle1);
    map.add(circle2);
    map.add(circle3);
    map.add(circle4);
    map.add(circle5);
    map.add(circle6);
    map.add(circle7);
    map.add(circle8);
    map.add(circle9);
    map.add(circle10);
    map.add(circle11);

    circle.content=['116.411184,39.912189','王府井步行街附近'];
    circle1.content=['116.403243,39.937135','南锣鼓巷附近'];
    circle2.content=['116.455484,39.937189','三里屯附近'];
    circle3.content=['116.448446,39.931266','工人体育馆附近'];
    circle4.content=['116.365349,39.960378','北京师范大学附近'];
    circle5.content=['116.360284,39.902987','中央音乐学院附近'];
    circle6.content=['116.453754,39.925568','北京朝阳医院附近'];
    circle7.content=['116.337797,39.992739','五道口附近'];
    circle8.content=['116.421224,39.882441','天坛东门附近'];
    circle9.content=['116.395818,39.937151','什刹海附近'];
    circle10.content=['116.401312,39.907464','天安门东附近'];
    circle11.content=['116.482767,39.942466','朝阳公园附近'];


    function showInfoM(e){
        var text = '您在 [ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ] 的位置点击了marker！'
        document.querySelector("#text").innerText = text;
    }
    function showInfoC(event){

        var e = event || window.event;
        // $.ajax({
        //     url: "/table/click",
        //     data: { info:e.target.content[0]},
        //     //type、contentType必填,指明传参方式
        //     type: "post",
        //     dataType:"json",
        //     success: function(response){
                //前端调用成功后，可以处理后端传回的json格式数据。
                // var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:'+ response["normal"] + '\n'+'当前故障单车数量:'+response["broken"]+'\n'
                // document.querySelector("#text").innerText = text;
                // option.title.text = e.target.content[1];
                // myChart = echarts.init(document.getElementById('t5'));
                if (e.target.content[1] == '王府井步行街附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:15' + '\n'+'当前故障单车数量:32'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 238, 230, 231, 198, 152, 94,41, 44, 15,33, 47, 155],
                        ['故障单车', 66, 70, 70, 70, 98, 30,31, 35, 48,33, 41, 55],
                    ];
                }
                else if(e.target.content[1] == '南锣鼓巷附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:113' + '\n'+'当前故障单车数量:25'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 34, 34, 34, 35, 156, 245,153, 122, 165,210,130, 52],
                        ['故障单车', 32, 45, 45, 47, 85, 55,34, 43, 54,31, 32, 33],
                    ];
                }
                else if(e.target.content[1] == '三里屯附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:12' + '\n'+'当前故障单车数量:67'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 245, 197, 197, 190, 310, 322,187, 130, 43,0,55, 129],
                        ['故障单车', 42, 40, 40, 24, 25, 55,64, 60, 51,55, 55, 69],
                    ];
                }
                else if(e.target.content[1] == '工人体育馆附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:235' + '\n'+'当前故障单车数量:40'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 55, 43, 0, 0, 12, 89,102, 160, 211,235, 240, 101],
                        ['故障单车', 58, 60, 60, 55, 70, 70,88, 51, 44,40, 78, 69],
                    ];
                }
                else if(e.target.content[1] == '北京师范大学附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:146' + '\n'+'当前故障单车数量:38'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 121, 123, 124, 139, 195, 234,257, 106, 146,55, 178, 90],
                        ['故障单车', 45, 45, 45, 45, 57, 62,79, 30, 34,38, 44, 31],
                    ];
                }
                else if(e.target.content[1] == '中央音乐学院附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:142' + '\n'+'当前故障单车数量:30'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 90, 92, 94, 99, 157, 166,132, 129, 42,33, 80, 95],
                        ['故障单车', 18, 18, 17, 21, 51, 71,70, 88, 50,55, 41, 30],
                    ];
                }
                else if(e.target.content[1] == '北京朝阳医院附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:141' + '\n'+'当前故障单车数量:31'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 55, 51, 60, 61, 99, 116,150, 160, 141,70, 80, 61],
                        ['故障单车', 22, 24, 25, 27, 31, 57,40, 66, 31,56, 44, 25],
                    ];
                }
                else if(e.target.content[1] == '五道口附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:266' + '\n'+'当前故障单车数量:101'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 321, 320, 320, 322, 356, 311,287, 256, 199,189, 267, 299],
                        ['故障单车', 55, 44, 60, 89, 95, 101,111, 50, 52,52, 59, 61],
                    ];
                }
                else if(e.target.content[1] == '天坛东门附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:111' + '\n'+'当前故障单车数量:23'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 31, 41, 41, 41, 150, 198,210, 222, 111,70, 80, 55],
                        ['故障单车', 11, 11, 12, 16, 21, 33,38, 33, 22,19, 19, 15],
                    ];
                }
                else if(e.target.content[1] == '什刹海附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:0' + '\n'+'当前故障单车数量:52'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 33, 33, 32, 30, 156, 211,210, 158, 64,21, 0, 0],
                        ['故障单车', 33, 33, 35, 36, 41, 33,38, 50, 51,52, 55, 59],
                    ];
                }
                else if(e.target.content[1] == '天安门东附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:121' + '\n'+'当前故障单车数量:27'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 134, 134, 136, 96, 111, 155,245, 210, 155,141, 80, 95],
                        ['故障单车', 21, 22, 25, 25, 26, 20,23, 31, 32,30, 31, 27],
                    ];
                }
                else if(e.target.content[1] == '朝阳公园附近'){
                    var text = '地点：'+e.target.content[1]+'\n坐标： [ '+ e.target.content[0]+' ] '+'\n'+'当前正常未使用单车数量:77' + '\n'+'当前故障单车数量:31'+'\n'
                    document.querySelector("#text").innerText = text;
                    option.title.text = e.target.content[1];
                    myChart = echarts.init(document.getElementById('t5'));
                    option.dataset.source = [
                        ['product', '00:00', '02:00',  '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00',
                            '18:00', '20:00', '22:00'],
                        ['正常未使用单车', 55, 59, 59, 67, 133, 190,210, 121, 116,67, 55, 46],
                        ['故障单车', 17, 15, 15, 16, 44, 45,55, 55, 31,24, 28, 37],
                    ];
                }

                myChart.setOption(option);
                // title_ = e.target.content[1];




    }

    circle.on('click', showInfoC);
    circle1.on('click', showInfoC);
    circle2.on('click', showInfoC);
    circle3.on('click', showInfoC);
    circle4.on('click', showInfoC);
    circle5.on('click', showInfoC);
    circle6.on('click', showInfoC);
    circle7.on('click', showInfoC);
    circle8.on('click', showInfoC);
    circle9.on('click', showInfoC);
    circle10.on('click', showInfoC);
    circle11.on('click', showInfoC);

    map.onmousewheel=function (e) {
        e= e || window.event;
        if(document.all){
            e.cancelBubble=true;
        }else{ e.stopPropagation(); }
    };


</script>

    <script type="text/javascript">
        window.onload=function(){
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>

    <script type="text/javascript">
        function change() {

            document.getElementById("button1").style.background="#24c2ce";
            document.getElementById("button2").style.background="#D3D3D3";
            window.location.href="table.html";
        }

        function change2() {
            document.getElementById("button1").style.background="#D3D3D3";
            document.getElementById("button2").style.background="#24c2ce";
        }
    </script>


</body>
</html>
